#root {
    height: 100%;
    width: 100%;
}

#header {
    flex-grow: 1;
    height: 'auto';
    z-index: 1;
    overflow: 'hidden';
    position: 'relative';
    display: 'flex';
}

#header-name {
    flex-grow: 1;
    font-size: 28px;
}

#menu-button {
    margin-left: 12px;
    margin-right: 36px;
}

@media screen and (max-width: 400px) {
    #header-name {
        font-size: 21px;
    }
}

@media screen and (max-width: 370px) {
    #header-name {
        font-size: 17px;
    }
}